<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.epweike.mapper.LexiconsMapper" >
  <resultMap id="BaseResultMap" type="com.epweike.model.Lexicons" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="INTEGER" />
    <result column="pos" property="pos" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="synonym" property="synonym" jdbcType="VARCHAR" />
    <result column="category" property="synonym" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectAll" resultType="Lexicons">
    select * from lexicons order by id
  </select>
  
  <insert id="insertLexBatch" parameterType="java.util.List">  
    insert into lexicons (word,frequency,pos,pinyin,synonym,category)   
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.word},#{item.frequency},#{item.pos},#{item.pinyin},#{item.synonym},#{item.category})  
    </foreach>  
  </insert>  
</mapper>